{% extends 'blog_header.html'%}
{% block content%}
<!doctype html>
<head>
  <style>
    img{
      width:2000px;
      height:700px;
    }
  </style>

<section class="hero">
   
      <img src="https://tse2.mm.bing.net/th?id=OIP.a5YOm_1N-oe-O025Jw4PTQHaE8&pid=Api&P=0">
    <div class="intro-text">
     
    </div>
    <div class="i-frame pic">
      
      <div class="stand-1"></div>
      <div class="stand-2"></div>
    </div>
  </section>
<style>
  .pic{
    height:2000px;
    width:2000px;
  }
</style>
</style>
</head>
</html>
{% endblock %}