{% extends 'Base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title> CSS Login Screen Tutorial </title>
</head>
<style>
  h3{
    color:white;
    border-style: solid;
    background-color:black;
  }
  body{
    background-color:black;
  }
  label{
    color:white;
  }
</style>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
          <center>
            <h3 class = "h3">CHANGE YOUR PASSWORD HERE !!! </h3>
            <BR>
              <BR>
          </div>
        </div>
    </center>
        <form  method="post">
          <center>
            {% csrf_token %}
            <label for='username'>USERNAME:</label>
            <input name="username" type ='username' type='username' placeholder='Username'> <br>
          <br>
          <br>
            <label for='password'> PASSWORD:</label>
           <input name = "password" type ='password' type='password' placeholder='Password'><br>
           <br>
           <br>
           <input type = 'Submit' name='submit'>
          </center>
        </form>
      </div>
    </div>
</body>
</body>
</html>
{% endblock %}