{% extends 'Base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title> CSS Login Screen Tutorial </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
          <center>
            <h3>CHANGE PASSWORD </h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
    </center>
        <form  method="post">
            {% csrf_token %}
            <label for='username'> Enter Username:</label>
            <input name="username" type ='password' type='password' placeholder='Username'> <br>

            <label for='password'> Enter password:</label>
           <input name = "password" type ='password' type='password' placeholder='Password'><br>
           <input type = 'Submit' name='submit'>
           
        </form>
        
      </div>
    </div>
</body>
</body>
</html>
{% endblock %}