{% extends 'Base.html' %}

{% block content %}
<style>
    body {
  font-size: 0.98rem;
}
</style>

  <div class="container">
    <hr />
  </div>
  
  <div class="container">
    <div class="row">
    {% for p in cart %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="d-flex justify-content-between position-absolute w-100">
            <div class="label-new">
              <span class="text-white bg-success small d-flex align-items-center px-2 py-1">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="ml-1">New</span>
              </span>
            </div>
            <div class="label-sale">
              <span class="text-white bg-primary small d-flex align-items-center px-2 py-1">
                <i class="fa fa-tag" aria-hidden="true"></i>
                <span class="ml-1">Sale</span>
              </span>
            </div>
          </div>
          <a href="#">
            <img src="https://tse4.mm.bing.net/th?id=OIP.HliIIMPcZ6OePmLRoq6ZDgHaE8&pid=Api&P=0" class="card-img-top" alt="Product">
          </a>
          <div class="card-body px-2 pb-2 pt-1">
            <div class="d-flex justify-content-between">
              <div>
                <p class="h4 text-primary">{{p.product1.price}}</p>
              </div>
              <div>
                <a href="#" class="text-secondary lead" data-toggle="tooltip" data-placement="left" title="Compare">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <p class="text-warning d-flex align-items-center mb-2">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
            <p class="mb-0">
              <strong>
                <a href="#" class="text-secondary">{{p.product1.name}}</a>
              </strong>
            </p>
            <p class="mb-1">
              <small>
                <a href="#" class="text-secondary">Brands</a>
              </small>
            </p>
            
            <div class="d-flex justify-content-between">
              <img src="{{ MEDIA_URL }}{{wishlist.image.url}}">
              <div class="col px-0">
                <a  href='{%  url 'delete-cart' p.id %}'  class="btn btn-outline-primary btn-block">
                  Remove to Cart  
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>
              </div>
              <div class="ml-2">
                <a href="#" class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
     {% endfor %} 
     
 
  <h2>{{address.name}}</h2>
  <h2>{{address.address1}}</h2>
  <h2>{{address.address2}}</h2>
  <h2>{{address.address3}}</h2>
  <h2>{{address.address4}}</h2>
  <h2>{{address.address5}}</h2>
  <h2>{{address.address6}}</h2>
  <h2>{{address.address7}}</h2>
  <h1>TOTAL AMOUNT : RS {{total_amount}}</h1>
  <div class="d-flex justify-content-between">
    <div class="col px-0">
      <a  href='{%  url 'order' %}'  class="btn btn-outline-primary btn-block">
        Ordernow 
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      </a>
    </div>
    </div>
  </div>

  
{% endblock%}
    