{% extends 'Base.html' %}
{% block content %}
<style>
    body {
  font-size: 0.98rem;
}
</style>

  <div class="container">
    <hr />
  </div>
  
  <div class="container">
    <div class="row">
    {% for p in wishlist %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="d-flex justify-content-between position-absolute w-100">
            
            
          </div>
          
          <div class="card-body px-2 pb-2 pt-1">
            <div class="d-flex justify-content-between">
              <div>
                <p class="h4 text-primary">Price:{{p.product.price}}</p>
              </div>
              <div>
                <a href="#" class="text-secondary lead" data-toggle="tooltip" data-placement="left" title="Compare">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <p class="text-warning d-flex align-items-center mb-2">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
            <p class="mb-0">
              <strong>
                <a href="#" class="text-secondary">Product Name:{{p.product.name}}</a>
              </strong>
            </p>
            <p class="mb-1">
              <small>
                <a href="#" class="text-secondary">Brands</a>
              </small>
            </p>
            
            <div class="d-flex justify-content-between">
              <div class="col px-0">
                <a  href='{% url 'del-wishlist' p.id %}'  class="btn btn-outline-primary btn-block">
                  Remove to wishlist  
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>
              </div>
             
              
            </div>
          </div>
        </div>
      </div>


  
     {% endfor %} 
     
  </div>
  

  
{% endblock%}
    